@import "tailwindcss";

.text-animated {
	text-align: center;
	background: linear-gradient(
		90deg,
		rgb(162, 68, 255) 0%,
		rgb(52, 182, 255) 50%,
		rgb(162, 68, 255) 100%
	);
	background-size: 200% auto;
	color: #000;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: shine 4s linear infinite;
}
@keyframes shine {
	to {
		background-position: 200% center;
	}
}

.btn-animated {
	background: linear-gradient(-45deg, #FFA63D, #FF3D77, #338AFF, #3CF0C5);
	background-size: 600%;
    animation: anime 16s linear infinite;
}
@keyframes anime {
	0% {
		background-position: 0% 50%;
	}
   	50% {
	 	background-position: 100% 50%;
   	}
   	100% {
		background-position: 0% 50%;
	}
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 10px;
        height: 20px;
    }
    .scrollbar::-webkit-scrollbar-track {
        @apply bg-slate-900;
    }
    .scrollbar::-webkit-scrollbar-thumb {
        /* border: 3px solid #f6f7ed; */
        @apply border-solid border-2 border-slate-700 rounded-full bg-slate-700;
    }
    .scrollbar::-webkit-scrollbar-thumb:hover {
        @apply bg-slate-900;
    }
}

@layer components {
	.main-card {
		@apply rounded-2xl bg-white dark:bg-slate-800 text-white shadow-md;
	}

	.username {
		@apply font-extrabold text-3xl;
	}

	.user-description {
		@apply text-base text-black dark:text-white;
	}

	.link-btn {
		@apply text-center py-2 bg-indigo-500 hover:bg-transparent rounded-md text-lg text-white hover:text-indigo-500 border-transparent hover:border-indigo-500 border-2;
	}

	.contact-btn {
		@apply py-2 w-full rounded-md flex justify-center hover:opacity-80 duration-200 ease-in-out transition;
	}

	.banner-header-bg {
		background-image: linear-gradient(to right, rgba(245, 246, 252, 0.52), rgba(30, 13, 78, 0.73)), url("/assets/images/profile-bg.jpg");
		@apply bg-no-repeat bg-cover w-full h-36;
	}

	.sn-icon {
		@apply cursor-pointer fill-indigo-500 dark:fill-white;
	}

	.zoom-in {
		@apply transition ease-in hover:scale-125 duration-200;
	}
}