---
import MainHead from '../components/MainHead.astro';
---

<html lang="en">
	<head>
		<MainHead title="Not Found" />
	</head>
	<body class="bg-slate-900 text-white flex justify-center items-center min-h-screen">
		<div>
			<h1 class="font-black text-6xl">Error 404</h1>
			<p>Page not found =(</p>
		</div>
	</body>
</html>
